body{
    background-color: #E6E6E6;
}

.Bienvenida1{
    background-color: #2E4C6D;
    font-size: 40px;
    color: #E6E6E6;
    text-align: center;
    font-family:  'Saira Extra Condensed', sans-serif;
    
}

h4{
    text-align: center;
    color: #0A2035;
    font-family:  'Saira Extra Condensed', sans-serif;
  
}

.btn{
    background-color: #396EB0;
}

#botonMostrarClientes{
    background-color: #396EB0;
    color: white;
}

.card{
    background-color: #396EB0;
    color: white;
    font-family: 'Saira Extra Condensed', sans-serif;
}

#boton1{
    background-color: #AB1616;
    border: #AB1616;
    color: white;
}

.card-title{
    color: white;
    font-family:  'Saira Extra Condensed', sans-serif;
}

#parrafo1{
    color: #0A2035;
    font-size: medium;
    font-family:  'Saira Extra Condensed', sans-serif;

   
}

#input1{
    background-color: white;
    color: #0A2035;
    font-family:  'Saira Extra Condensed', sans-serif;
    text-align: center;
    
}

#input1{
    background-color: white;
    color: #0A2035;
    font-family:  'Saira Extra Condensed', sans-serif;
}

div{
    font-family:  'Saira Extra Condensed', sans-serif;
}