@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #E6E6E6;
}

.dark {
    background-color: black;
    color: antiquewhite;
}

.bienvenida1{
    background-color: #2E4C6D;
    text-align: center;
}

h1{
    text-align: center;
    color: #E6E6E6;
    font-size: 250%;
    font-family:  'Roboto', sans-serif;
    font-weight: 500;
    padding: 0.8rem;
}

h2{
    text-align: center;
    color: #0A2035;
    font-size: 200%;
    font-family:  'Roboto', sans-serif;
    font-weight: 400;
    padding: 1rem;
}

.contacto__form {
    font-size: 130%;
    font-family:  'Roboto', sans-serif;
    font-weight: 300;
    padding: 1rem;
    margin: 1rem;
    border: #0A2035 2px solid;
  }
  
.form-group {
    padding: 0.6rem;
  }
  
.btn-primary {
    background-color: #396EB0;
    font-family:  'Roboto', sans-serif;
    font-size: 80%;
    margin-top: 0.6rem;
  }

.btn-link {
    background-color: #396EB0;
    color: white;
    margin: 1rem;
}

.card{
    background-color: #396EB0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#boton1{
    background-color: #AB1616;
    color: white;
}

.card-title{
    color: white;
    font-family:  'Roboto', sans-serif;
}

.ingClientes{
    margin: 1rem;
}

#parrafo1{
    color: #0A2035;
    font-size: 130%;
    font-family:  'Roboto', sans-serif;
}

#input1{
    background-color: white;
    color: #0A2035;
    font-family:  'Roboto', sans-serif;
    text-align: center;
}